.header {
  padding: 20px;
  color: white;
  background-color: black;
}
.header__inner {
  display: flex;
  justify-content: space-between;
}
.header__text {
  font-size: 50px;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 1;
}
