.oval {
  border: 3px solid black;
  border-radius: 50%;
  width: 250px;
  height: 300px;
  margin-bottom: 20px;
  &_gray {
    background-color: gray;
  }
  &_yellow {
    background-color: yellow;
  }
  &_black {
    background-color: black;
  }
  &_orange {
    background-color: orange;
  }
}
